/.vs/*
/bin/Debug/*
/obj/Debug/*
/obj/*
/bin/*
/Controllers/BonneAffaireController.cs
/wwwroot/*
/wwwroot/assets/i18n/fr.json
/wwwroot/assets/img/avatar-placeholder.png
/wwwroot/media/fa-brands-400-LUMNIJ6A.ttf
/wwwroot/media/fa-brands-400-Q5MHU2AU.woff2
/wwwroot/media/fa-regular-400-HTG32PIJ.woff2
/wwwroot/media/fa-regular-400-QFECZVGZ.ttf
/wwwroot/media/fa-solid-900-BMGMRJW7.woff2
/wwwroot/media/fa-solid-900-NHJRIGXE.ttf
/wwwroot/media/fa-v4compatibility-BYQ7LMO7.woff2
/wwwroot/media/fa-v4compatibility-FQDQ7UU2.ttf
/wwwroot/media/primeicons-4GST5W3O.woff2
/wwwroot/media/primeicons-DHQU4SEP.svg
/wwwroot/media/primeicons-GEFHGEHP.ttf
/wwwroot/media/primeicons-P53SE5CV.woff
/wwwroot/media/primeicons-RSSEDYLY.eot
/wwwroot/3rdpartylicenses.txt
/wwwroot/favicon.ico
/wwwroot/index.html
/wwwroot/main-S52K2CZ2.js
/wwwroot/polyfills-5CFQRCPP.js
/wwwroot/prerendered-routes.json
/wwwroot/scripts-WRAW5D46.js
/wwwroot/styles-JIRG6YNR.css
